* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

HTML {
    position: relative;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Neue Haas Grotesk Display Pro', 'Acid Grotesk', sans-serif;
    background-color: #f7f4ef;
    animation: animate 0.8s infinite;
    transition: 0.8s;
    position: relative;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasDisplay-MediumItalic.eot');
    src: url('../fonts/NeueHaasDisplay-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/NeueHaasDisplay-MediumItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-MediumItalic.ttf') format('truetype'),
        url('../fonts/NeueHaasDisplay-MediumItalic.svg#NeueHaasDisplay-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasDisplay-Mediu.eot');
    src: url('../fonts/NeueHaasDisplay-Mediu.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Mediu.woff2') format('woff2'),
        url('../fonts/NeueHaasDisplay-Mediu.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Mediu.ttf') format('truetype'),
        url('../fonts/NeueHaasDisplay-Mediu.svg#NeueHaasDisplay-Mediu') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasDisplay-RomanItalic.eot');
    src: url('../fonts/NeueHaasDisplay-RomanItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-RomanItalic.woff2') format('woff2'),
        url('../fonts/NeueHaasDisplay-RomanItalic.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-RomanItalic.ttf') format('truetype'),
        url('../fonts/NeueHaasDisplay-RomanItalic.svg#NeueHaasDisplay-RomanItalic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../fonts/NeueHaasDisplay-Roman.eot');
    src: url('../fonts/NeueHaasDisplay-Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
        url('../fonts/NeueHaasDisplay-Roman.woff') format('woff'),
        url('../fonts/NeueHaasDisplay-Roman.ttf') format('truetype'),
        url('../fonts/NeueHaasDisplay-Roman.svg#NeueHaasDisplay-Roman') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acid Grotesk';
    src: url('fonts/AcidGrotesk-Bold.eot');
    src: local('Acid Grotesk Bold'), local('AcidGrotesk-Bold'),
        url('../fonts/AcidGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcidGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/AcidGrotesk-Bold.woff') format('woff'),
        url('../fonts/AcidGrotesk-Bold.ttf') format('truetype'),
        url('../fonts/AcidGrotesk-Bold.svg#AcidGrotesk-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-MediumItalic.eot');
    src: url('../fonts/JetBrainsMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-MediumItalic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-MediumItalic.woff') format('woff'),
        url('../fonts/JetBrainsMono-MediumItalic.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-MediumItalic.svg#JetBrainsMono-MediumItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-Medium.eot');
    src: url('../fonts/JetBrainsMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/JetBrainsMono-Medium.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Medium.woff') format('woff'),
        url('../fonts/JetBrainsMono-Medium.ttf') format('truetype'),
        url('../fonts/JetBrainsMono-Medium.svg#JetBrainsMono-Medium') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@keyframes animate {
    0% {
        cursor: url('../img/cursor/cursor_Mesa\ de\ trabajo\ 1.png'), auto;
    }

    14.28% {
        cursor: url('../img/cursor/cursor-02.png'), auto;
    }

    28.57% {
        cursor: url('../img/cursor/cursor-03.png'), auto;
    }

    42.85% {
        cursor: url('../img/cursor/cursor-04.png'), auto;
    }

    57.14% {
        cursor: url('../img/cursor/cursor-05.png'), auto;
    }

    71.42% {
        cursor: url('../img/cursor/cursor-06.png'), auto;
    }

    100% {
        cursor: url('../img/cursor/cursor-07.png'), auto;
    }
}


::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

section.general {
    width: 100%;
    padding: 2vw;
}

div.gen {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

div.col {
    width: 22.6vw;
    float: right;
    background-color: aqua;
}

div.col2 {
    width: 47vw;
    float: right;
    background-color: aqua;
}

div.col3 {
    width: 71.5vw;
    float: right;
    background-color: aqua;
}

div.col4 {
    width: 96vw;
    float: right;
    background-color: aqua;
}

nav {
    padding: 0 2vw 0 2vw;
    position: sticky;
    top: 0;
    z-index: 1;
    mix-blend-mode: difference;
    filter: invert(100%);
    color: black;
}

nav div.gen {
    padding-top: 2vw;
}

header {
    background-image: url(../img/header.gif);
    filter: none;
    width: 96vw;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2vw;
    position: absolute;
    top: 2vw;
    transition: filter 0.5s;
}

aside {
    width: 96vw;
    height: 768px;
    position: absolute;
    top: 0;
    overflow-y: hidden;
}

.container {
    width: 96vw;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    position: absolute;
}

.container .element {
    width: 200px;
    height: 200px;
    margin: 5px;
}

.container .flotante1 {
    background-image: url(../img/flotante1.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.5s;
    position: relative;
    top: 28vw;
    left: 5vw;
    z-index: 11;
}

.container .flotante2 {
    background-color: #ffef03;
    transition: filter 0.5s;
    position: relative;
    top: 3vw;
    left: 5vw;
}

.container .flotante3 {
    background-image: url(../img/flotante3.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: filter 0.5s;
    position: relative;
    top: 20vw;
    left: 18vw;
    z-index: 11;
}

.container .flotante4 {
    background-color: #00ff00;
    transition: filter 0.5s;
    position: relative;
    top: 0;
    left: 10vw;
}

main {
    margin-top: 600px;
    padding-bottom: 100px;
}

p.parrafo {
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 95%;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

main .gen {
    margin-bottom: 20px;
}

main .col4 {
    text-align: center;
}

.col4 h1 {
    font-size: 89px;
    font-stretch: 80%;
    line-height: 90%;
    color: black;
}

a {
    text-decoration: none;
    cursor: inherit;
}

h1:hover {
    text-decoration: underline;
    font-style: italic;
}

.color-change {
    color: black;
    transition: color 0.5s;
}

.color-change:hover {
    color: #f7f4ef;
}

.color-change.hover-effect {
    color: #f7f4ef;
}

.inverted {
    filter: invert(100%);
}

div.padding {
    padding: 0 22.6vw 0 22.6vw;
}


footer {
    width: 96vw;
    position: fixed;
    bottom: 0;
    padding-bottom: 1vw;
    margin: 0 0 0 2vw;
    mix-blend-mode: difference;
    filter: invert(100%);
    color: black;
}

footer .col4 {
    text-align: center;
}

/*CONCEPTOS BÁSICOS*/

body.subtema {
    padding-bottom: 250px;
}

p.tituloseccion {
    font-size: 24px;
    font-stretch: 80%;
    line-height: 90%;
    color: black;
}

body.subtema h2 {
    font-size: 86px;
    position: sticky;
    top: 100px;
}

body.subtema p.subtema {
    font-family: 'JetBrains Mono';
    font-size: 18px;
    margin-bottom: 100px;
    font-weight: 600;
    line-height: 130%;
}

body.subtema h3 {
    font-size: 24px;
}

body.subtema p.contenido {
    font-family: 'JetBrains Mono';
    line-height: 130%;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 40px;

}

body.subtema a {
    text-align: right;
}

body.subtema a.enlace p.parrafo:hover {
    text-decoration: underline;
    font-style: italic;
}

body.subtema footer {
    text-align: center;
}

body.subtema footer a {
    text-align: left;
}

i {
    font-weight: 800;
}

p.titulo {
    font-size: 24px;
}

scrollbarContainer {
    text-replace: unset;
}

/*DISEÑO RESPONSIVE*/

@media screen and (max-width: 1440px) {

    div.element.flotante3 {
        left: 400px;
    }

    div.element.flotante4 {
        top: 0;
        left: 450px;
    }
}

@media screen and (max-width: 1366px) {

    div.element.flotante4 {
        left: 310px;
    }

    .col4 h1 {
        font-size: 72px;
        font-stretch: 80%;
    }
}

@media screen and (max-width: 1200px) {
    div.element.flotante3 {
        left: 70px;
    }

    div.element.flotante4 {
        left: 110px;
    }
}

@media screen and (max-width: 1024px) {
    div.element.flotante3 {
        left: 40px;
    }

    div.element.flotante4 {
        left: 60px;
    }
}

@media screen and (max-width: 950px) {

    div.element.flotante1,
    div.element.flotante2,
    div.element.flotante3,
    div.element.flotante4 {
        width: 150px;
        height: 150px;
    }

    div.element.flotante4 {
        left: 100px;
    }

    .col4 h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 450px;
    }

    div.element.flotante4 {
        left: -25px;
    }

    div.col2.cero {
        width: 0;
    }

    .col4 h1 {
        font-size: 40px;
    }

    body.subtema h3 {
        font-size: 36px;
        margin-bottom: 50px;
    }

    div.gen.salto {
        flex-direction: column;
    }

    div.col.doble {
        width: 47vw;
    }

    div.col.cero {
        width: 0;
    }

    div.col2.cero {
        width: 0;
    }

    div.col2.cien {
        width: 96vw;
    }

    div.col.cien {
        width: 96vw;
    }

    div.col3.cien {
        width: 96vw;
    }

    div.col4 h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 650px) {

    .col4 h1 {
        font-size: 40px;
    }

    body.subtema h3 {
        font-size: 36px;
        margin-bottom: 50px;
    }

    div.gen.salto {
        flex-direction: column;
    }

    div.col.doble {
        width: 47vw;
    }

    div.col.cero {
        width: 0;
    }

    div.col2.cero {
        width: 0;
    }

    div.col2.cien {
        width: 96vw;
    }

    div.col.cien {
        width: 96vw;
    }

    div.col3.cien {
        width: 96vw;
    }

    div.col4 h2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 500px) {}